##### Key takeaways: tuples

1. Os tuples são coleções de dados ordenados e imutáveis. Podem ser imaginados como listas imutáveis. São escritos entre parêntesis curvos:
    
    
    1. Tuples are ordered and unchangeable (immutable) collections of data. They can be thought of as immutable lists. They are written in round brackets:

In [2]:
my_tuple = (1, 2, True, "a string", (3, 4), [5, 6], None)
print(my_tuple)

my_list = [1, 2, True, "a string", (3, 4), [5, 6], None]
print(my_list)

(1, 2, True, 'a string', (3, 4), [5, 6], None)
[1, 2, True, 'a string', (3, 4), [5, 6], None]

Cada elemento tuple pode ser de um tipo diferente (ou seja, inteiros, strings, booleanos, etc.). Além disso, os tuples podem conter outros tuples ou listas (e o inverso).
    
    Each tuple element may be of a different type (i.e., integers, strings, booleans, etc.). What is more, tuples can contain other tuples or lists (and the other way round).
    
2. Pode-se criar um tuple vazio como este:
    
    
    2. You can create an empty tuple like this:

In [3]:
empty_tuple = ()
print(type(empty_tuple))    # outputs: <class 'tuple'>

<class 'tuple'>

3. Um tuple de um elemento pode ser criado da seguinte forma:
    
    
    3. A one-element tuple may be created as follows:

In [4]:
one_elem_tuple_1 = ("one", )    # Brackets and a comma.
one_elem_tuple_2 = "one",       # No brackets, just a comma.

Se remover a vírgula, dirá ao Python para criar uma variável e não um tuple:
    
    If you remove the comma, you will tell Python to create a variable, not a tuple:

In [5]:
my_tuple_1 = 1, 
print(type(my_tuple_1))    # outputs: <class 'tuple'>

my_tuple_2 = 1             # This is not a tuple.
print(type(my_tuple_2))    # outputs: <class 'int'>

<class 'tuple'>
<class 'int'>

4. Pode aceder aos elementos do tuple através da indexação:

    
    4. You can access tuple elements by indexing them:

In [6]:
my_tuple = (1, 2.0, "string", [3, 4], (5, ), True)
print(my_tuple[3])    # outputs: [3, 4]

[3, 4]

5. Os tuples são imutáveis, o que significa que não se pode alterar os seus elementos (não se pode anexar tuples, ou modificar, ou remover elementos tuple). O snippet a seguir causará uma exceção:
    
    
    5. Tuples are immutable, which means you cannot change their elements (you cannot append tuples, or modify, or remove tuple elements). The following snippet will cause an exception:

In [7]:
my_tuple = (1, 2.0, "string", [3, 4], (5, ), True)
my_tuple[2] = "guitar"    # The TypeError exception will be raised.

TypeError: 'tuple' object does not support item assignment

No entanto, é possível apagar um tuple como um todo:
    
    However, you can delete a tuple as a whole:

In [8]:
my_tuple = 1, 2, 3, 
del my_tuple
print(my_tuple)    # NameError: name 'my_tuple' is not defined

NameError: name 'my_tuple' is not defined

6. Pode fazer um loop através dos elementos de um tuple (Exemplo 1), verificar se um elemento específico está (ou não) presente num tuple (Exemplo 2), utilizar a função len() para verificar quantos elementos existem num tuple (Exemplo 3), ou mesmo juntar/multiplicar tuples (Exemplo 4):
    
    
    6. You can loop through a tuple elements (Example 1), check if a specific element is (not)present in a tuple (Example 2), use the len() function to check how many elements there are in a tuple (Example 3), or even join/multiply tuples (Example 4):

In [9]:
# Example 1
tuple_1 = (1, 2, 3)
for elem in tuple_1:
    print(elem)

1
2
3

In [10]:
# Example 2
tuple_2 = (1, 2, 3, 4)
print(5 in tuple_2)
print(5 not in tuple_2)

False
True

In [11]:
# Example 3
tuple_3 = (1, 2, 3, 5)
print(len(tuple_3))

4

In [12]:
# Example 4
tuple_4 = tuple_1 + tuple_2
tuple_5 = tuple_3 * 2

print(tuple_4)
print(tuple_5)

(1, 2, 3, 1, 2, 3, 4)
(1, 2, 3, 5, 1, 2, 3, 5)

###### EXTRA

Também pode criar um tuple usando uma função Python incorporada chamada tuple(). Isto é particularmente útil quando se pretende converter um certo iterável (por exemplo, uma lista, range, string, etc.) num tuple:
    
    You can also create a tuple using a Python built-in function called tuple(). This is particularly useful when you want to convert a certain iterable (e.g., a list, range, string, etc.) to a tuple:

In [13]:
my_tuple = tuple((1, 2, "string"))
print(my_tuple)

my_list = [2, 4, 6]
print(my_list)    # outputs: [2, 4, 6]
print(type(my_list))    # outputs: <class 'list'>
tup = tuple(my_list)
print(tup)    # outputs: (2, 4, 6)
print(type(tup))    # outputs: <class 'tuple'>

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

Da mesma forma, quando se pretende converter um iterável numa lista, pode-se usar uma função Python integrada chamada list():
    
    By the same fashion, when you want to convert an iterable to a list, you can use a Python built-in function called list():

In [14]:
tup = 1, 2, 3, 
my_list = list(tup)
print(type(my_list))    # outputs: <class 'list'>

<class 'list'>